@font-face {
  font-family: 'ancient';
  src: URL('ancient.ttf') format('truetype');
}
@font-face {
  font-family: 'chopin';
  src: URL('chopin.ttf') format('truetype');
}
@font-face {
  font-family: 'optien';
  src: URL('optien.ttf') format('truetype');
}

.tile {
  border-radius: 10%;
  width: 256;
  height: 256;
  #position: absolute;
  top: 0;
}

txt {
  #position: absolute;
  bottom: 0;
}

.tileDiv {
  text-align: center;
  font-family: optien, sans-serif;
  font-size: 28px;
  position:relative;
  height:100%;
}

table { 
  padding:0; margin:0;
}